<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:task="http://www.springframework.org/schema/task" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
 
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd" 
    >
    
    
    <mvc:annotation-driven/>
        
   <!-- enabling annotation driven configuration -->
    <context:component-scan base-package="cr.ac.ucr.framework.seguridad.dao"/>
    <context:component-scan base-package="cr.ac.ucr.framework.seguridad.entidades" />
    <context:component-scan base-package="cr.ac.ucr.framework.daoHibernate" />
    <context:component-scan base-package="cr.ac.ucr.framework.daoImpl" />
    <context:component-scan base-package="cr.ac.ucr.framework.modelo.entidad" />
    <context:component-scan base-package="cr.ac.ucr.framework.service" />
    <context:component-scan base-package="cr.ac.ucr.framework.vista" />
    <context:component-scan base-package="cr.ac.ucr.framework.dao" />

    <context:component-scan base-package="cr.ac.ucr.sigebi.controllers" />
    <context:component-scan base-package="cr.ac.ucr.sigebi.daos" />
    <context:component-scan base-package="cr.ac.ucr.sigebi.entities" />
    <context:component-scan base-package="cr.ac.ucr.sigebi.listeners" />
    <context:component-scan base-package="cr.ac.ucr.sigebi.models"/>
    <context:component-scan base-package="cr.ac.ucr.sigebi.jobs" />
 
    <!-- holding properties for database connectivity /-->
    <context:annotation-config /> 
    
    <context:property-placeholder location="/WEB-INF/*.properties" ignore-unresolvable="true" />
    
    <bean id="contextApplicationContextProvider" class="cr.ac.ucr.framework.utils.ApplicationContextProvider"/>
    
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" >
        <property name="jndiName" value="${hibernate.connection.datasource}"/> 
    </bean>
    
    <!-- ========== Scheduler ========== -->
    <task:annotation-driven />

    <task:scheduled-tasks>
        <task:scheduled ref="jobEnviarNotificaciones" method="envioNotificaciones" cron="${cron.enviar.notificaciones}"></task:scheduled>        
    </task:scheduled-tasks>

    <bean id="jobEnviarNotificaciones" class="cr.ac.ucr.sigebi.jobs.EjecucionesAutomaticasJob"/>
    
        
    <!-- ========== Data Acces ========== -->

    <!-- ADD PERSISTENCE SUPPORT HERE(jpa, hibernate, etc)-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration"/>  
        <property name="configLocation">  
            <value>classpath:${hibernate.cfg.file}</value>  
        </property>  
        <property name="hibernateProperties">
            <value>hibernate.show_sql=${hibernate.show_sql}</value>
        </property>
    </bean>  
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory" /> 
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" />
    
</beans>