/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/10/2017, 09:07:46 PM
    Author     : jorge.serrano
*/

body {
    
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.btn-file{
    color: #FFFFFF; 
    border: 0 none; 
    border-radius: 2px 2px 2px 2px; 
    background: none repeat scroll 0 0 #0090D8;
    cursor: pointer; 
    display: inline-block; 
    font-family: Arial,sans-serif; 
    font-size: 16px; 
    font-weight: lighter;
    line-height: 20px; 
    margin-bottom: 0; 
    padding: 4px 10px; 
    text-transform: none; 
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    text-align: center; 
    text-shadow: none;
}

.iceDatPgrCol a{
    margin: 5px;
}

.columnS {
    width: 100px;
}

.columnM {
    width: 200px;
}

.columnL {
    width: 400px;
}

