/* 
    Document   : base_ie8
    Created on : 25/01/2011, 10:10:38 AM
    Author     : GBSYS-Adriana
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
* {
    
    padding: 0;
}
body{
}